@import '../../theme.scss';

.app_header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px 1px rgba(246, 246, 246, 0.1);
    .app_header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        max-width: 960px;
        margin: 0 auto;
    }
    .app_header_left, .app_header_right {
        display: flex;
    }
    .app_header_left {
        .app_logo {
            width: 100px;
            height: 32px;
            background: rgba(146, 146, 146, 0.2);
            margin-right: 24px;
        }
        .app_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
        .app_menu_item {
            margin: 0 20px;
            cursor: pointer;
            &:hover, &.app_menu_item_active {
                color: $theme-color;
            }
        }
    }
    .app_header_right {
        display: flex;
        align-items: center;
        .app_search_bar {
            display: flex;
            align-items: center;
            margin-right: 30px;
            position: relative;
            .app_search_bar_line {
                position: absolute;
                width: 0;
                bottom: 0;
                height: 1px;
                background: $theme-color;
            }
            .app_search_bar_line_active {
                animation: search_input_line_show 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
            }
            i {
                color: #c3c3c3;
                margin: 2px 4px 0 0;
                font-size: 24px;
            }
            .app_search_input {
                color: #a7a7a7;
                font-size: 14px;
            }
            input::-webkit-input-placeholder {
                font-size: 10px;
                color: #c3c3c3;
            }
            @keyframes search_input_line_show {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
        }
        .create_article_btn {
            font-size: 15px;
            color: $theme-color;
            display: flex;
            align-items: center;
            &:hover {
                color: darken($theme-color, 10%);
            }
        }
    }
}